{% extends "base.html.twig" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('forums_index') }}">Forums</a></li>
    <li class="breadcrumb-item"><a href="{{ path('forums_forum_view', {forum: forum.id, forumSlug: forum.slug}) }}">
            {{ forum.title }}
        </a></li>
    <li class="breadcrumb-item"><a href="{{ path('forums_thread_view', {
            forum: forum.id,
            forumSlug: forum.slug,
            thread: thread.id,
            threadSlug: thread.slug
        }) }}">
            {{ thread.title }}
        </a></li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <main class="col-md-12">
            <h1>{{ thread.title }}</h1>
            <p class="border-bottom">{{ thread.description }}</p>

            {% for post in posts %}
                <article class="card mb-2 border-secondary">
                    <header class="card-header bg-secondary bg-opacity-50 rounded-0 text-white">
                        <p class="m-0">Posted {{ post.datePosted|date }}</p>
                    </header>
                    <div class="row">
                        <div class="col-2 border-end text-center pt-3">
                            <i class="fs-1 bi bi-person-circle"></i>
                            <address class="fs-4 bi" rel="author">{{ post.authorName }}</address>
                        </div>
                        <div class="col-10 ps-0">
                            <section class="card-body">
                                {{ post.content }}
                            </section>
{#                            <footer class="card-footer bg-light rounded-0">#}
{#                                <button class="btn btn-primary btn-sm">Reply</button>#}
{#                            </footer>#}
                        </div>
                    </div>
                </article>
            {% endfor %}

            <a class="btn btn-primary btn-lg float-end" href="{{ path('forums_thread_reply', {
                forum: forum.id,
                forumSlug: forum.slug,
                thread: thread.id,
                threadSlug: thread.slug
            }) }}">Reply</a>

            {{ knp_pagination_render(posts) }}
        </main>
    </div>
</div>
{% endblock %}