{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <nav class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('forums_index') }}">Forums</a></li>
                <li class="breadcrumb-item"><a href="{{ path('forums_forum_view', {forum: forum.id, forumSlug: forum.slug}) }}">
                        {{ forum.title }}
                    </a></li>
                <li class="breadcrumb-item"><a href="{{ path('forums_thread_view', {
                        forum: forum.id,
                        forumSlug: forum.slug,
                        thread: thread.id,
                        threadSlug: thread.slug
                    }) }}">
                        {{ thread.title }}
                    </a></li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <main class="col-md-12">
            <h1>{{ thread.title }}</h1>
            <p class="border-bottom">{{ thread.description }}</p>

            {% for post in posts %}
                <article class="card mb-2">
                    <div class="row">
                        <aside class="col-md-3 border-end">

                        </aside>
                        <div class="col-md-9 ps-0">
                            <header class="card-header">
                                <p>Posted {{ post.datePosted|date }}</p>
                            </header>
                            <section class="card-body">
                                {{ post.content }}
                            </section>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <a class="btn btn-primary btn-lg float-end" href="{{ path('forums_thread_reply', {
                forum: forum.id,
                forumSlug: forum.slug,
                thread: thread.id,
                threadSlug: thread.slug
            }) }}">Reply</a>
        </main>
    </div>
</div>
{% endblock %}